<!-- find scss in horizontal-navbar. HTML logo can be find in views/shared/logo
and scss for logo can be find in logo.scss.  -->
<div class="navbar navbar-expand-sm navbar-light nav-background">
    <%= link_to "#", class: "navbar-brand" do %>
    <h1 class="logo">Fleapit</h1>
    <% end %>
    <!--   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
    <!-- This is the code for the hamburger menu icon.
The icon scss can be find in components/menu-burger.
We can add more links to add in our dropdown menu below.  -->
    <% if user_signed_in? %>
    <div class="nav-item dropdown">
        <%= image_tag "", type: "button", class: "gg-menu", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    </div>
    <% else %>
    <%= link_to "Login", new_user_session_path, class: "button" %>
    <% end %>
</div>
