<div class="vertical-navbar">
  <div class="row justify-content-between p-3">
    <%= render 'shared/wheel' %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="text-center">
    <%= cl_image_tag current_user.avatar.key, class: "avatar-xl-large" %>
    <div class="profile-infos">
      <h3><%= current_user.username %></h3>
      <h3><%= current_user.location %></h3>
    </div>
  </div>
  <div class="row justify-content-around">
      <button class="button-small" href="#">Category</button>
      <button class="button-small" href="#">Location</button>
  </div>
  <div class="btn-group-vertical vertical-button">
      <button class="button" href="#">Matches</button>
      <button class="button" href="#">Swipe</button>
      <button class="button" href="#"><%= link_to 'Upload', new_item_path  %></button>
  </div>
  <div class="navbar-logo">
      <%= render 'shared/logo' %>
  </div>
</div>

