<div class="vertical-navbar">
    <div class="row justify-content-between">
        <%= render 'shared/wheel' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="text-center">
        <%= cl_image_tag current_user.avatar.key, class: "avatar-xl-large" %>
        <div class="profile-infos">
            <h5>
                <%=  current_user.username.capitalize %>
            </h5>
            <!--       <img src="noun_ranking_1987379.png" alt=""> -->
            <h6>
                <%= current_user.location %>
            </h6>
        </div>
    </div>
    <div class="btn-group-vertical vertical-button">
      <div class="btn-group-vertical vertical-button button-container">
        <p class="matches_count"> <%= matches_count %></p>
        <%= link_to 'My Matches', matches_path, class:"button" %>
      </div>
        <% if current_user.items.size > 0 %>
        <%= link_to 'My Items', items_path, class:"button" %>
        <% else %>
        <%= link_to 'Upload', new_item_path, class:"button" %>
        <% end %>
        <%= link_to 'Home', root_path, class:"button" %>
    </div>
    <div class="navbar-logo">
        <%= render 'shared/logo' %>
    </div>
</div>
