<div class="vertical-navbar">
    <div class="row justify-content-between">
        <%= render 'shared/wheel' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="text-center">
        <%= cl_image_tag current_user.avatar.key, class: "avatar-xl-large" %>
        <div class="profile-infos">
            <h5>
                <%=  current_user.username %>
            </h5>
            <!--       <img src="noun_ranking_1987379.png" alt=""> -->
            <h6>
                <%= current_user.location %>
            </h6>
        </div>
    </div>
    <div class="row justify-content-around">
        <a class="button-small" href="#">Category</a>
        <a class="button-small" href="#">Location</a>
    </div>
    <div class="btn-group-vertical vertical-button">
        <a class="button" href="#">Matches</a>
        <% if current_user.items.size > 0 %>
        <%= link_to 'Swipe', items_path, class: "button" %>
        <% else %>
        <%= link_to 'Upload', new_item_path, class: "button" %>
        <% end %>
    </div>
<!--     <div class="navbar-logo">
        <%= render 'shared/logo' %>
    </div> -->
</div>

