<%= simple_form_for item do |f| %>
    <%= f.input :name %>
    <%= f.input :brand %>
    <%= f.input :description, as: :text, :input_html => { :cols => 5, :rows => 5 }%>
    <%= f.input :category, :collection => ['Home & decorations', "Women's clothes", "Men's clothes", 'Accessories', 'Electronics', 'Outdoors', 'Hobby', 'Tools'] %>
    <%= f.input :min_price, as: :hidden, input_html: { value: "min" }, id: "minPriceInput" %>
    <%= f.input :max_price, as: :hidden, input_html: { value: "max" }, id: "maxPriceInput" %>
    <div id="slider"></div>
    <div id="price-container">
    <div id="lowerPrice"></div>
    <p>-</p>
    <div id="upperPrice"></div>
    <p>SEK</p>
    </div>

    <%= f.input :pictures, as: :file, input_html: { class: 'd-none', multiple: true }, label_html: { class: 'upload-photo'}, label: '📷 Upload photos' %>
    <div class="form-button">
    <%= link_to 'Back', items_path, class: "button" %>
    <%= f.button :submit, class: "button" %>
    </div>
  <% end %>
