<div class="row justify-content-center">
    <div class="col-6">
        <h1>Your items</h1>
        <% @items.each do |item| %>
          <div class="card-trip">
            <%= cl_image_tag item.picture.key, height: 300, width: 400, crop: :fill %>
            <div class="card-trip-infos">
              <%= item.name %>
              <%= item.description %>
              <%= link_to 'Destroy', item_path(item), method: :delete  %>
            </div>
          </div>
        <% end %>
        <%= link_to 'Upload an item', new_item_path  %>
    </div>
</div>
