<div class="big-container">
    <div>
        <%= render 'shared/vertical-navbar', matches_count: @matches_count %>
    </div>
    <% if current_user.items.size == 0 %>
    <div class="items-button">
          <div class="zero-items-paragraph">
        <p>Hey <%= current_user.username  %>, welcome to Fleapit, it seems you don't have any items yet.
          <br>
        Press on the button below to add your first item
        and start exchanging with other users!</p>
        </div>
    <div class="items-button-zero">
        <%= link_to 'Upload your first item', new_item_path, class: "button" %>
    </div>
    <% else %>

    <div class="items-container">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <h5 style="text-align: center;"><strong>Your items</strong></h5>
                <% @items.each_with_index do |item, index| %>
                <div class="card-trip d-flex">
                    <div class="carousel-card-information">
                        <%= link_to '', edit_item_path(item), class:"fas fa-edit", id:"edit-button" %>
                        <h2>
                            <%= item.name.capitalize %>
                        </h2>
                        <h5>
                            <%= item.description %>
                        </h5>
                        <p>
                            <%= item.min_price %> kr -
                            <%= item.max_price %> kr
                        </p>
                        <p>

                            <%= link_to 'Exchange this item', potential_matches_item_path(item)  %>

                        </p>
                    </div>
                    <div id="carousel<%=index%>" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <% item.pictures.each_with_index do |picture, index| %>
                            <li data-target="carousel<%=index%>" data-slide-to="<%=index%>" class="<%= 'active' if index == 0 %>"></li>
                            <% end %>
                        </ol>
                        <div class="carousel-inner">
                            <% item.pictures.each_with_index do |picture, index| %>
                            <div class="carousel-item <%= 'active' if index == 0 %>">
                                <%= cl_image_tag picture.key, class: "items-image d-block" %>
                            </div>
                            <% end %>
                        </div>
                        <a class="carousel-control-prev" href="#carousel<%=index%>" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel<%=index%>" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <%# link_to 'Swipe this item', potential_matches_item_path(item)  %>
                </div>
                <% end %>
            </div>
            <%# link_to 'Upload an item', new_item_path  %>
        </div>
    </div>
    <% end %>
</div>
