<div class="big-container">
    <div>
        <%= render 'shared/vertical-navbar' %>
    </div>
<div class="row justify-content-center">
    <div class="col-8">
        <h1 style="text-align: center;">Show items from other users</h1>
          <%  @items.each do |i| %>
            <div data-item-id="<%= i.id %>" class="card-trip">
              <div class="card-information">
                <h3>  <%= i.name %> </h3>
                <%= i.description %>
                <%= i.min_price %>
                <%= i.max_price %>
                <br>
                <%= i.user.username %>
                <%= cl_image_tag i.user.avatar.key, class: "avatar-xl-large" %>
                <div class="voting">
                <%= link_to 'Dislike', item_dislike_path(i, my_item: @my_item), class:"btn btn-danger", remote: true  %>
                <%= link_to 'like', item_like_path(i, my_item: @my_item), class:"btn btn-success", remote: true %>
                </div>
              </div>
              <div class="image-items">
                <% i.pictures.each do |picture| %>
                  <%= cl_image_tag picture.key, class: "items-image" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <%# link_to 'show page button', item_path(item) %>
    </div>
</div>
</div>

