<div class="big-container">
    <div>
        <%= render 'shared/vertical-navbar' %>
    </div>

  <div class="items-container">
    <div class="row justify-content-center" id="potentialMatches">
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">

          <h5 style="text-align: center;">Pick an item to exchange for</h5>

          <%  @items.each do |i| %>
            <div data-item-id="<%= i.id %>" class="card-trip">

              <div class="card-trip d-flex">
                <div class="carousel-card-information-user">
                <%= cl_image_tag i.user.avatar.key, class: "avatar" %>
                  <h6><%= i.user.username %></h6>
                  <h6><%= i.user.location %></h6>
                </div>

                <div class="carousel-card-information-bis">
                    <h3>  <%= i.name %> </h3>
                    <p><%= i.description %></p>
                    <p><%= i.min_price %> | <%= i.max_price %></p>
                  <div class="voting">
                    <%= link_to 'Dislike', item_dislike_path(i, my_item: @my_item), class:"btn btn-danger", remote: true  %>
                    <%= link_to 'like', item_like_path(i, my_item: @my_item), class:"btn btn-success", remote: true %>
                  </div>
                </div>
              </div>

              <div class="image-items">
                <% i.pictures.each do |picture| %>
                <%= cl_image_tag picture.key, class: "items-image" %>
                <% end %>
              </div>

            </div>
          <% end %>

      </div>
    </div>
  </div>
</div>

